.header__input {
    width: 100%;

    background-color: transparent;
    border: none;

    font-size: 18px;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    color: #fff;
}

.header__input:focus {
    outline: none;
}

.header__input::placeholder {
    opacity: 0.5;

    font-size: 18px;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    color: #fff;
  }